/* 颜色变量 */
@import "uview-plus/theme.scss";

$u-primary: #E8A598;
$u-success: #C8D8C0;
$u-warning: #F2DFC8;
$u-error: #dd524d;
$u-info: #B5A89F;

/* 行为相关颜色 */
$uni-color-primary: #E8A598;
$uni-color-success: #C8D8C0;
$uni-color-warning: #F2DFC8;
$uni-color-error: #dd524d;

/* 背景颜色 */
$uni-bg-color: #FFFAF5;
$uni-bg-color-grey: #f8f8f8;